{% extends '@TidyFeedback/base.html.twig' %}
{% trans_default_domain 'TidyFeedback' %}

{% block content %}
  <h1>Feedback</h1>

  {% if items %}
  <table class="table">
    <thead>
    <tr>
      <th>{{ 'Created at'|trans }}</th>
      <th>{{ 'Created by'|trans }}</th>
      <th>{{ 'Subject'|trans }}</th>
    </tr>
    </thead>
<tbody>
{% for item in items %}
  <tr>
    <td>{{ item.createdAt|date(constant('\\DateTimeImmutable::ATOM')) }}</td>
    <td>{{ item.createdBy|default('–') }}</td>
    <td>
      <a href="{{ path('tidy_feedback_show', {item: item.id}) }}">
        {{ item.subject }}
      </a>
    </td>
  </tr>
{% endfor %}
</tbody>
  </table>
  {% else %}
    <div class="alert alert-warning">{{ 'Not feedback yet' }}</div>
  {% endif %}
{% endblock %}
