{% extends '@TidyFeedback/base.html.twig' %}
{% trans_default_domain 'TidyFeedback' %}

{% block content %}
  <h1>Feedback</h1>

  <dl>
    <dt>{{ 'Created at'|trans }}</dt>
    <dd>{{ item.createdAt|date(constant('\\DateTimeImmutable::ATOM')) }}</dd>

    <dt>{{ 'Created by'|trans }}</dt>
    <dd>{{ item.createdBy|default('–') }}</dd>

    <dt>{{ 'Subject'|trans }}</dt>
    <dd>{{ item.subject }}</dd>

    <dt>{{ 'Status'|trans }}</dt>
    <dd>{{ item.status.value }}</dd>

    <dt>{{ 'Data'|trans }}</dt>
    <dd><pre><code>{{ item.data|json_encode(constant('JSON_PRETTY_PRINT') b-or constant('JSON_UNESCAPED_SLASHES')) }}</code></pre></dd>
      {% if item.data.svg %}
      <dt>{{ 'Element' }}</dt>
      <dd>{{  item.data.svg|raw }}</dd>
    {% endif %}
  </dl>
{% endblock %}
